<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>{{ project.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8; IE=7"/>
    <link rel="icon" type="image/png" href="{{ asset("bundles/phlexiblegui/images/phlexible.png") }}">
    {% set theme = "ext-theme-" ~ app.user.property("theme", "classic") %}
    {% set debug = app.debug ? "-debug" : "" %}
    <link rel="stylesheet" type="text/css" href="{{ asset("build/packages/" ~ theme ~ "/build/resources/" ~ theme ~ "-all" ~ debug ~ ".css", "ext") }}">
    <script type="text/javascript" src="{{ asset("build/ext-all" ~ debug ~ ".js", "ext") }}"></script>
    <script type="text/javascript" src="{{ asset("build/packages/" ~ theme ~ "/build/" ~ theme ~ debug ~ ".js", "ext") }}"></script>
    <link href="{{ path("phlexible_gui_asset_css") }}" media="screen" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        #loading {
            position: absolute;
            left: 45%;
            top: 40%;
            padding: 2px;
            z-index: 20001;
            height: auto;
            border: 1px solid #ccc;
        }

        #loading a {
            color: #225588;
        }

        #loading .loading-indicator {
            background: white;
            color: #444;
            font: bold 13px tahoma, arial, helvetica;
            padding: 10px;
            margin: 0;
            height: auto;
        }

        #loading-msg {
            font: normal 10px arial, tahoma, sans-serif;
        }
    </style>
</head>
<body>
<div id="loading" style="display: block">
    <div class="loading-indicator">
        <img alt="Loading..." src="{{ asset("bundles/phlexiblegui/images/loading-large.gif") }}" width="32" height="32" style="margin-right:8px;float:left;vertical-align:top;"/>
        {{ project.title }} {{ project.version }} - <a href="http://{{ project.url }}" target="_blank">{{ project.url }}</a><br/><span id="loading-msg">Loading...</span>
    </div>
</div>
<noscript>{{ noScript }}</noscript>
</body>
{% set language = app.user.getProperty("interfaceLanguage", "en") %}
{#
<script type="text/javascript" src="{{ asset("locale/ext-lang-" ~ language ~ ".js", "extjs") }}"></script>
#}
<script type="text/javascript">
    //<![CDATA[
    Ext.BLANK_IMAGE_URL = "{{ asset("bundles/phlexiblegui/images/blank.gif") }}";
    Ext.QuickTips.init();

    var Phlexible = {
        title: "{{ project.title }}",
        version: "{{ project.version }}",
        project: "{{ project.title }}",
        baseUrl: "{{ app.request.baseUrl }}/admin",
        basePath: "{{ app.request.basePath }}/admin",
        apikey: "swentz",
        bundlePath: "{{ app.request.basePath }}/bundles",
        config: {{ render(path("phlexible_gui_config"))|raw }},
        menu: {{ render(path("phlexible_gui_menu"))|raw }}
    };
    //]]>
</script>
{{ scripts|raw }}
<script type="text/javascript" src="{{ path("phlexible_gui_routes") }}"></script>
<script type="text/javascript" src="{{ path("phlexible_gui_asset_scripts") }}"></script>
<script type="text/javascript" src="{{ path("phlexible_gui_asset_translations", {language: language}) }}"></script>
<script type="text/javascript">
    //<![CDATA[
    Ext.application({
        name: 'Phlexible',
        namespace: 'Phlexible',
        appFolder: 'gui/load/Phlexible',
        appProperty: 'App',
        extend: 'Phlexible.gui.app.Application',
        autoCreateViewport: 'Phlexible.gui.view.Main'
    });
    //]]>
</script>
</html>
